---
import FormattedDate from "./FormattedDate.astro";

const { post } = Astro.props;
---

<style>
  .title {
    margin: 0;
    margin-bottom: 1rem;
    line-height: 1;
  }
  .date {
    margin: 0;
    color: var(--secondary);
    font-size: 0.9em;
  }
  a {
    text-decoration: none;
    color: unset;
    font-size: 1.82rem;
    & > div {
      padding: 2rem;
    }
    p:last-child {
      font-size: 1em;
    }
    &:hover .title {
      color: var(--accent-600);
    }
  }
</style>
<a href={`/blog/${post.id}/`}>
  <div style="border: 1px dotted var(--text-muted);  border-radius: 10px;">
    {/* <img width={720} height={360} src={post.data.heroImage} alt="" /> */}
    <h4 class="title">{post.data.title}</h4>
    <p class="date">
      <FormattedDate date={post.data.pubDate} />
    </p>
    <p>{post.data.description}</p>
  </div>
</a>
